.logo{
    height: 100px;
}
.header{

}

.header a{

    font-size: 1.3rem;

}



.heading2{

    font-weight: 450;
  color: rgb(97, 93, 93);
  font-size: 20px;
}

.allHeading{

    padding-left: 10%;
    padding-right: 5%;
    text-align: left;
}

.topBottomMargin{
    padding-top: 3%;
    padding-bottom: 3%;

}


/* Rotating img  */
.rotate {
    animation: rotation 8s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .imageSize{
      height:80%;
      width: 50%;
      margin-left: 25%;
     /* text-align: center; */
  }

  .pageTwoHeading{
      text-align: center;

  }


  /* Under line feature */

  .middle {
    text-decoration: none;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .middle:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(196, 58, 58);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .middle:hover:after {
    width: 100%;
    left: 0;
  }
/* hover effect for cards */
  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.largeImage{
  width: 100%;
  height: 100%;
}

/*  */
.boxShadow {
  /* width: 250px; */
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 6px;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: 2.5%; */
  margin-bottom: 5%;
  color: rgb(97, 93, 93);
  /* border-radius: 1%; */

}
.boxShadow:hover{
  cursor: pointer;
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);}

.center{
  text-align: center;;
}

/* Scrolling image */

/* #carouselExampleSlidesOnly .carousel-item {
  transition: transform 2s ease-in-out;
} */

.section {
  padding: 60px 0;
}

.section .section-title {
  text-align: center;
  color: #28313e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #28313e !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}

/* payment page */

.payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
	background-image:url(./images/payment-back.svg);
}

.payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.payment-form form{
	border-top: 2px solid #5ea4f3;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.payment-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}

.payment-form .products{
	background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
	margin-bottom:1em;
}

.payment-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.payment-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.payment-form .card-details{
	padding: 25px 25px 15px;
}

.payment-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.payment-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em;
	}

	.payment-form .products {
		padding: 40px;
  	}

	.payment-form .products .item-name {
		font-size: 1em;
	}

	.payment-form .products .price {
    	font-size: 1em;
	}

  	.payment-form .card-details {
    	padding: 40px 40px 30px;
    }

  	.payment-form .card-details button {
    	margin-top: 2em;
    }
}

.payment-background{
  background-color: cyan;
}

.newWeight{
  color:white;
  font-weight:bold;
  text-transform: capitalize;
  font-size:2rem;
}
